@model List<Biblioteca.Data.Models.Livro>

@{
    ViewData["Title"] = "Catálogo";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Livros.css" />
}
<div class="col-sm-6">
    <a asp-action="Create" class="btn btn-success h-auto">
        <span>Adicionar Livro</span></a>
</div>

<h1>Catálogo de Livros</h1>

<form method="get" class="search-bar">
    <input type="text" name="search" placeholder="Pesquisar por título ou autor" value="@ViewData["Search"]"/>
    <button type="submit">Buscar</button>
</form>


<div class="books-grid">
    @foreach (var livro in Model)
    {
        <div class="book-card">
            <h6>@livro.Categoria</h6>
            <img src="@livro.ImagemUrl" />
            <h3>@livro.Titulo</h3>
            <p>@livro.Autor</p>
            <a asp-action="Alugar" asp-route-livroId="@livro.Id" class="btn btn-success">Alugar</a>
        </div>
    }

   
</div>
